html {
    -webkit-font-smoothing: antialiased;
}
body, html {
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
}

.top-bar {
  padding: 20px;
  background: #001246;
  color: #fff;
  font-size: 18px;
}

h4 {
  margin-top: 8px;
  margin-bottom: 4px;
}

h5 {
  color: #4b6584;
}

input[type="search"] {
  background-color: #fff;
  border-radius: 18px;
  height: 30px;
  line-height: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 70%;
  -webkit-appearance: searchfield;
}

button:focus,
input:focus {
    outline: none;
}

button.go-button {
  border-radius: 20px;
  background: #f7b731;
  color: #fff;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

hr {
  border: 1px solid #333;
  width: 100px;
  margin-top:20px;
  margin-left: 0px;
}

button.suggest-button {
  border-radius: 20px;
  background: #2bcbba;
  color: #fff;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

#editor {
  width: 100%;
  display: block;
}
.ql-toolbar {
  display: block;
}
#suggestions {
  width: 30%;
  background-color: #d1d8e0;
  padding: 20px;
  height: 100%;
  min-width: 300px;
}

.container {
  display: flex;
  height: 100%;
}

.item {
  height: 100px;
  width: 100px; /* A fixed width as the default */
}

.item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item + .item {
  margin-left: 2%;
}