
.tag-wrapper {
  background: white;
  width: auto;
  margin: 0 auto;
  margin-top: 16px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
  max-height: 70%;
  overflow-y: auto;
}

.tag-wrapper:empty:after{
  content: "Nothing to show yet";
  color: #afb0b0;
  font-size: 14px;

}
.tag {
  display: inline-block;
  position: relative;
  margin: 4px 8px 4px 0px;
  font-size: 9px;
}
.tag input[type=checkbox] {
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
}
.tag input[type=checkbox]:hover + label {
  background: #f7b731;
}

.tag label {
  padding: 7px 34px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: #305ae3;
  transition: all 0.08s ease-in;
}
.tag.google label {
  background-color: #f19066;
}
.tag.newsapi label {
  min-width: 80%;
  background-color: #aaa;
  color: #333;
}

.tag .fa {
  position: absolute;
  z-index: 250;
  right: 11px;
  top: 9px;
  color: white;
  line-height: 0.95;
}
.tag .fa-check {
  display: none;
  top: 8px;
  right: 10px;
  transition: all 0.08s ease-in;
}
.tag input[type=checkbox]:checked + label {
  background: #26de81;
  -webkit-animation: flick 0.08s;
          animation: flick 0.08s;
}
.tag input[type=checkbox]:checked ~ .fa-plus {
  display: none;
}
.tag input[type=checkbox]:checked ~ .fa-check {
  -webkit-animation: flick 0.08s;
          animation: flick 0.08s;
  display: block;
}
@-webkit-keyframes flick {
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes flick {
  60% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
