<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SEO Keyword v0.3</title>
  <!-- Include Quill stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" crossorigin="anonymous" />
  <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.0.0/quill.bubble.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/tags.css">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="../static/jquery.dynatable.css">
   <link rel="stylesheet" type="text/css" href="../static/tooltipster/dist/css/tooltipster.bundle.min.css" />

</head>
<body>
  <div class="top-bar"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAP8AAADFCAMAAACsN9QzAAAAP1BMVEX/////ywUAEkb/yAD/1EdGTW0AA0EAAD7/89H/+N19gZQACUMwOWD/9dj/0jf/+eKSlqY+RWhdY4AAADkrNF0gBTOiAAAA/klEQVR4nO3PyRGDMBAAQcwlHyDO/GN1AvrosWVT9CQw1U0jSZIkSZIkSbpPc+4Dy0txum5DYHuN/9k9Autexen7GONK5//7UxvXZ+Ln5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5/+l/xjjSmeNf859YHkpTtdtCGyv8UuSJEmSJEmSrt4XRHfRDgIW8/MAAAAASUVORK5CYII=" alt="SCMP" class="scmp-logo"><b>SCMP</b> SEO Keyword suggestions</div>
  <!-- Create the editor container -->
  <div class="container">
    <div class="item-center">
      <div id="editor">
        <p></p>
      </div>
    </div>
    <div id="suggestions" class="item">
      <h4>Import story with ID</h4>
      <input type="search" name="story-id" class="story-id" autocomplete="on">
      <button class="go-button" >Go</button>
      <hr>
      <img width="256" height="144" id="thumbnail-preview">
      <h4>Suggested keywords <button class="suggest-button" >⟳ Update</button></h4>

      <div class="browser-screen-loading-content">
        <div class="loading-dots dark-gray">
          <i></i><i></i><i></i><i></i>
        </div>
      </div>
      <div class="keyword-container tag-wrapper"></div>

      <h5>Related news from other media</h5>
      <div class="newsapi-container">
        <div class="newsapi-article-container tag-wrapper"></div>
      </div>
      <h5>Keywords from Trends</h5>
      <div class="googletrend-table-top">
        <div class="top-keyword-container tag-wrapper"></div>
      </div>
      <div class="googletrend-table-rising">
        <div class="rising-keyword-container tag-wrapper"></div>
      </div>
      <h5>Keywords from MOZ / SEMRush</h5>
      <div class="moz-keyword-container tag-wrapper"></div>
    </div>
  </div>


  <!-- Include the Quill library -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
  <script src="../static/jquery.dynatable.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script type="text/javascript" src="../static/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
  <script>

    $.dynatableSetup({
      table: {
        defaultColumnIdStyle: 'underscore'
      }
    });

  </script>
  <!-- Initialize Quill editor -->
  <script>
    var editor = new Quill('#editor', {
      modules: {
        toolbar: [
          [{ header: [1, 2, false] }],
          ['bold', 'italic', 'underline'],
          ['image', 'code-block']
        ]
      },
      placeholder: 'Start composing...',
      theme: 'snow'  // 'snow' or 'bubble'
    });
  </script>


  <script>

    // Persist Story ID
    $(".story-id").change(function(){
        var $this = $(this);
        var prev = $this.data("prev"); // first time is undefined
        $this.data("prev", $this.val()); // save current value
    });

    // UI
    function createTag(name, score, types, checked) {
      let tagElement = '<div class="tag tooltip" data-name="%%tag_data%%" title=""> <input class="tag-checkbox" type="checkbox" value="%%tag_value%%" %%checked%%/> <label for="">%%tag_name%% (%%tag_score%%)</label> <i class="fa fa-plus"></i> <i class="fa fa-check"></i> </div>';

      tagElement = tagElement.replace('%%tag_data%%', ''+name);
      tagElement = tagElement.replace('%%tag_name%%', ''+name);
      // let score_name=name.replace(/ /g,"_");
      tagElement = tagElement.replace('%%tag_value%%', ''+name);
      tagElement = tagElement.replace('%%tag_score%%', ''+score.toFixed(2));

      if (checked) {
        tagElement = tagElement.replace('%%checked%%', 'checked');
      } else {
        tagElement = tagElement.replace('%%checked%%', '');
      }
      return $('.keyword-container').append($(tagElement));
    }

    function createGoogleTrendTag(name, api_type) {
      let tagElement = '<div class="tag google tooltip" data-name="%%tag_data%%" title=""> <input class="tag-checkbox" type="checkbox" value="%%tag_value%%"/> <label for="">%%tag_name%% (%%api_type%%)</label> <i class="fa fa-plus"></i> <i class="fa fa-check"></i> </div>';

      tagElement = tagElement.replace('%%tag_data%%', ''+name);
      tagElement = tagElement.replace('%%tag_name%%', ''+name);
      tagElement = tagElement.replace('%%api_type%%', ''+api_type);
      if (api_type === "rising") {
        return $('.rising-keyword-container').append($(tagElement));
      } else {
        return $('.top-keyword-container').append($(tagElement));
      }
    }

    function createNewsArticleTag(title, source, keyword ) {
      let tagElement = '<div class="tag newsapi tooltip" data-name="%%tag_data%%" title=""> <input class="tag-checkbox" type="checkbox" value="%%tag_value%%"/> <label for="">%%tag_name%% (%%source%%)</label></div>';

      tagElement = tagElement.replace('%%tag_data%%', ''+keyword);
      tagElement = tagElement.replace('%%tag_name%%', ''+title);
      tagElement = tagElement.replace('%%source%%', ''+source);
      return $('.newsapi-article-container').append($(tagElement));
    }

    function bindTooltip() {
      $('.tooltip').tooltipster({
        content: 'Loading...',
        maxWidth: 300,
        updateAnimation: false,
        functionBefore: function(instance, helper) {
          //wiki
          console.log(instance.elementOrigin());
          let value = $(instance.elementOrigin()).data("name")

          let url = `/wiki/${value}`;

              $.get(url)
                .done(function( data ) {
                  console.log(data);
                  let result = JSON.parse(data)[2][0];
                  console.log(result);
                  instance.content(result);
                })

        },
        functionAfter: function(instance) {
          // alert('The tooltip has closed!');
        }
      });

    }

    function bindGNewsAPIEvents() {
      // Call GNews api
      $('.tag-checkbox:checkbox').change(function newsapi() {
          // this will contain a reference to the checkbox
          if (this.checked) {
              // the checkbox is now checked
              let keyword = $(this).val();
              console.log(keyword);
              // $.get( "newsapi/"+keyword)
              //   .done(function( data ) {
              //     console.log(data);
              //     for (var key of Object.keys(data)) {
              //         console.log(key + " -> " + data[key])
              //         Swal.fire('Found Related News: '+ key)
              //     }
              //   }).fail(function(error) {
              //       Swal.fire( "Fail to get keywords" );
              //   });


              //{articles:[title, url, source:{name}]}

              fetch(`https://gnews.io/api/v3/search?q=${keyword}&token=a0e5763dfc3bcf8f5acd046ba2e21f7b`).then(function (response) {
                return response.json();
              }).then(function (data) {
                console.log(data);
                let articles = data.articles;
                for (x in articles) {
                  let article = articles[x]
                  createNewsArticleTag(article.title, article.source.name, keyword);
                  if(x > 5) {
                    break;
                  }
                }
              });

              callGoogleAPI(keyword);


          } else {
              // the checkbox is now no longer checked
          }
      });

    }

    $(".go-button").on('click', function getFromAPI() {
      $('.browser-screen-loading-content').show();
      $('.tag-wrapper').empty();
      $("#thumbnail-preview").attr('src', '');
      $("#thumbnail-preview").hide();
      let storyId = $(".story-id").val();
      function decodeString(input) {
        var parser = new DOMParser;
        var dom = parser.parseFromString(
            '<!doctype html><body>' + input,
            'text/html');
        var decodedString = dom.body.textContent;
        return decodedString;
      }

      $.get( "extract-text/"+storyId )
        .done(function( data ) {
          $('.browser-screen-loading-content').hide();
          editor.setContents([
            { insert: decodeString(data.title)+'\n', attributes: { 'header': true } },
            { insert: '\n'},
            { insert: decodeString(data.summary)+'\n', attributes: { 'code-block': true } },
            { insert: '\n'},
            { insert: decodeString(data.body) }
          ]);

        $("#thumbnail-preview").attr('src', data.ogimage);
        $("#thumbnail-preview").show();


        }).fail(function(error) {
            Swal.fire( "Fail to load: Story with ID " + storyId );
        });

    });


    function sort_object(obj) {
        items = Object.keys(obj).map(function(key) {
            return [key, obj[key]];
        });
        items.sort(function(first, second) {
            return second[1].relevance_score - first[1].relevance_score;
        });
        sorted_obj={}
        $.each(items, function(k, v) {
            use_key = v[0]
            use_value = v[1]
            sorted_obj[use_key] = use_value
        })
        return(sorted_obj)
    }


   function callGoogleAPI(keyword) {
      $.get( "googletrend/"+keyword)
        .done(function( data ) {
          console.log(data);
          let top = JSON.parse(data.top).query;
          let rising = JSON.parse(data.rising).query;

          for ( x in top) {
            let word = top[x]
            createGoogleTrendTag(word, 'top');

            if (x >= 3) {
              break;
            }
          }

          for (y in rising) {
            let word = rising[y]
            createGoogleTrendTag(word, 'rising');

            if (y >= 3) {
              break;
            }
          }

          bindTooltip();

        }).fail(function(error) {
            console.log(`Fail to get keywords for ${keyword}` );
        });
   }

    /* Extract Keywords */
    $(".suggest-button").on('click', function getKeywords() {
      $('.browser-screen-loading-content').show();
      $('.tag-wrapper').empty();
      let content = editor.getText();
      $.post( "extract-keywords", {fulltext: content})
        .done(function( data ) {
          $('.browser-screen-loading-content').hide();
          console.log(data);

          resultObj = {};
          for (var key of Object.keys(data)) {
              let values = JSON.parse(data[key]);
              let relevanceScore = values.relevance_score;
              let confidenceScore = values.confidence_score;
              let freebaseTypes = values.freebase_types;
              console.log(key + " -> " + relevanceScore + ' '+ freebaseTypes);

              resultObj[key] = JSON.parse(data[key]);
          }

          res = sort_object(resultObj);

          let headerText = ""
          if (editor.getLength() >= 1) {
            headerText = editor.getContents().ops[0].insert;
          }

          let checkedItems = [];
          for (var key of Object.keys(res)) {
              let values = JSON.parse(data[key]);
              let relevanceScore = values.relevance_score;
              let confidenceScore = values.confidence_score;
              let freebaseTypes = values.freebase_types;
              if(Number(relevanceScore) >= 0.3 && confidenceScore >= 0.5) {
                let checked = headerText.toLowerCase().includes(key.toLowerCase())
                createdTag = createTag(key, relevanceScore, freebaseTypes, checked);

                if(checked) {
                  checkedItems.push(key);
                  callGoogleAPI(key);
                }
              }
          }


          // Bind tooltip events
          bindTooltip();
          bindGNewsAPIEvents();

        }).fail(function(error) {
            alert( "Fail to get keywords" );
        });

    });

    // Ready event
    $().ready(function (){
      $(".story-id").focus();
    });


  </script>
</body>


</html>